.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 160rem;
}

.section-padding {
    padding: 4rem 0;
}

.h2 {
    margin-bottom: 0.5em;
    font-size: 3.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .h2 {
        font-size: 2em;
    }

    .section-padding {
        padding: 7rem 0;
    }
}

@media (min-width: 992px) {
    .h2 {
        font-size: 4rem;
    }
}

.gray {
    color: #FFF;
    background-color: #333333;
}

.white {
    color: black;
    background-color: #fff;
}

.black {
    color: #ffffff;
    background-color: black;
}

.click-element {
    padding: 0.4em 0.8em;
    border: 3px solid transparent;
    &:focus {
        outline: none;
        border: 3px solid white;
    }

    &--black:focus {
        border: 3px solid #820;
    }
    
}