.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1600px;
}

.section-padding {
    padding: 40px 0;
}

.h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5em;
    text-align: center;
}

@media (min-width: 768px) {
    .h2 {
        font-size: 2em;
    }

    .section-padding {
        padding: 70px 0;
    }
}

@media (min-width: 992px) {
    .h2 {
        font-size: 4.5rem;
    }
}

.gray {
    background-color: #333333;
    color: #FFF;
}

.white {
    background-color: #fff;
    color: black;
}

.black {
    background-color: black;
    color: #ffffff;
}

.click-element {
    padding: 0.4em 0.8em;
    border: 3px solid transparent;
    outline: none;
    &:focus {
        outline: none;
        border: 3px solid white;
    }

    &--black:focus {
        border: 3px solid #820;
    }
    
}