@media (min-width: 767px) {
    html {
        font-size: 62.5%;
        scroll-padding: 70rem;
    }

    .header {

        &__text,
        &__box-links {
            width: 70%;
        }
    }

    .about-firm {
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/exercise.jpg");

        &__text {
            width: 85%;
        }
    }

    .why-we {
        .wrapper {
            width: 95%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, auto);
            column-gap: 3.5em;
        }

        &__title {
            grid-column: 1/3;
        }

        &__element {
            grid-column: 1/2;

            &:nth-of-type(even) {
                grid-column: 2/3;
            }

            &-icon {
                margin-bottom: 1rem;
            }

        }
    }

    .our-localization {
        .wrapper {
            width: 60%;
        }

        &__title {
            grid-row: 1/2;
        }

     
    }

    .opinion {
        .slider {
            width: 70%;

            &__btn {
                width: 10rem;
            }
        }
    }

    .footer {
        .wrapper {
            width: 85%;
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto auto auto;
            grid-template-areas:
                "title title title"
                "nav . text"
                "end-text end-text end-text";
        }

        &__box-text {
            justify-content: flex-end;
        }

        &__title {
            grid-area: title;
        }

        &__nav {
            display: block;
            grid-area: nav;

            &-list {
                list-style: none;

                &-item {
                    display: grid;
                    grid-template-columns: 5em 1fr;
                    grid-template-rows: 1fr;
                    align-items: center;
                    column-gap: 0.3em;


                    &:hover::before {
                        transform: scaleX(0);
                    }
                    
                    &::before {
                        transform-origin: right;
                        margin-left: auto;
                        grid-column: 1/2;
                        content: '';
                        display: block;
                        width: 1em;
                        height: 3px;
                        background-color: #fff;
                        transition: .5s;
                    }

                    &:nth-child(2)::before {
                        width: 2em;
                    }

                    &:nth-child(3)::before {
                        width: 3em;
                    }

                    &:nth-child(4)::before {
                        width: 4em;
                    }

                    &:nth-child(5)::before {
                        width: 5em;
                    }

                    &-link {
                        width: 100%;
                        grid-column: 2/3;
                        color: #fff;
                        text-decoration: none;
                    }


                }
            }

        }

        &__box {
            grid-area: text;
            margin: 0 0 0 auto;
        }

        &__text {
            grid-area: end-text;
        }
    }
}