html {
    font-size: 62.5%;
    scroll-padding: 4rem;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 1.6rem;
    color: black;
    font-family: 'Lato', sans-serif;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 125%;
}

@import 'nav';
@import 'components';