html {
    font-size: 62.5%;
    scroll-padding: 40px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: black;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 125%;
}

@import 'animations';
@import 'components';

.header {
    color: #FFF;
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    overflow: hidden;

    &__hero-img {
        position: absolute;
        z-index: -2;
        top: 60px;
        min-height: calc(100vh - 60px);
        width: 100%;
        filter: brightness(0.5);
    }

    &__box-content {
        padding: 0 20px;
        margin: 0 auto;
    }


    .wrapper {
        width: 100%;
        margin-bottom: 2em;
    }

    &__title {
        text-align: left;
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 0.5rem;

        &:last-of-type {
            margin-bottom: 1em;
        }
    }

    &__box-links {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        position: relative;
        color: white;
        text-decoration: none;
        background-color: black;
        padding: 0.5em 1em;
        border-radius: 8px;
        margin-bottom: 1em;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -100%;
            width: 80px;
            height: 160%;
            background-image: linear-gradient(-70deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
            transform: rotate(20deg);
            transition: .35s;
        }

        &:hover::before {
            transform: translateX(400px) rotate(20deg);
        }
    }
}

.hamburger-div {
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: black;
    z-index: 100;

    .hamburger {
        padding: 1rem 1.5rem;
    }
}

.nav {
    &__list {
        position: fixed;
        height: calc(100vh - 60px);
        transform: translateX(100%);
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: black;
        list-style: none;
        transition: transform .5s;

        &--active {
            transform: translateX(0%);
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: white;
        transition: transform .3s;

        &:hover {
            transform: scale(1.15);
        }
    }

}



.about-firm {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/exercise-mobile.jpg");

    &__text {
        padding: 0 20px;
    }

    &__text:nth-of-type(1) {
        margin-bottom: 0.5em;
    }

}

.why-we {
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(4, 1fr);
        row-gap: 1.5em;
    }

    &__title {
        margin: 0;
    }

    &__element {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon {
            width: 10rem;
        }
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    .header {
        &__hero-img {
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            min-height: calc(100vh - 60px);
            min-width: 100%;
        }
    }
}



.our-localization {
    .wrapper {
        width: 85%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 1fr);
        row-gap: 1.5em;
        overflow: hidden;
    }

    &__title {
        margin: 0;
    }

    &__element {
        text-align: right;
        border: 1px solid black;
        border-radius: 20px;
        padding-bottom: 1em;

        &-img {
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        &-list {
            list-style: none;
            padding: 0 10px;

            &-item {
                &-heading {
                    margin: 10px 0;
                    text-align: left;
                }

                &-heading::before {
                    content: "";
                    display: inline-block;
                    height: 1em;
                    width: 1em;
                    background-size: 1em 1em;
                    background-image: url("../images/icons/map-pin.svg");
                    background-repeat: no-repeat;
                }

                &:nth-of-type(2) &-heading::before {
                    background-image: url("../images/icons/users-black.svg");
                }

                &:nth-of-type(3) &-heading::before {
                    background-image: url("../images/icons/phone.svg");
                }
            }
        }

        &-coach-list {
            margin: 1.5rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            &-box {
                position: relative;
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 0.5rem;
            }

            &-img {
                height: 100%;
                min-width: 100%;
                background-color: black;
            }
        }
    }
}

.opinion {
    &__title {
        margin-bottom: 1em;
    }

    .slider {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;

        &__btn {
            background: none;
            width: 70px;
            cursor: pointer;
            opacity: .7;
            transition: opacity .3s;
            padding: 0;

            &:hover {
                opacity: 1;
            }

            &-icon {
                width: 100%;
            }
        }

        &__back-btn {
            grid-row: 2/3;
            grid-column: 1/2;
        }



        &__next-btn {
            grid-row: 2/3;
            grid-column: 3/4;
            margin-left: auto;
        }

        &__extra-box {
            grid-column: 1/4;
            width: 100%;
            overflow: hidden;
            grid-row: 1/2;
        }

        &__box {
            width: calc(400% + 3em*4);
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            transition: transform .7s;

            &--slide1 {
                transform: translateX(0);
            }

            &--slide2 {
                transform: translateX(-25%);
            }

            &--slide3 {
                transform: translateX(-50%);
            }

            &--slide4 {
                transform: translateX(-75%);
            }

            &-item {
                margin-right: 3em;
                padding: 15px;
                background-color: #fff;

                &-img {
                    width: 100%;
                }

                &-text {
                    margin-top: 10px;
                }

                &-heading {
                    margin-top: 100px;
                }
            }

        }
    }
}

.footer {
    .wrapper {
        width: 95%;
    }

    &__box {
        width: fit-content;
        margin: 0 auto;

        &-text {
            display: flex;
            align-items: center;
            margin: 1rem 0;

            &::before {
                position: static;
                width: 2em;
                content: '';
                height: 1.5em;
                background-repeat: no-repeat;
                background-size: 1.5em 1.5em;
                display: inline-block;
            }

            &:nth-child(1)::before {
                background-image: url("../images/icons/phone-white.svg");
            }

            &:nth-child(2)::before {
                background-image: url("../images/icons/mail.svg");
            }

            &:nth-child(3)::before {
                background-image: url("../images/icons/archive-white.svg");
            }

        }
    }

    &__nav {
        display: none;
    }

    &__text {
        text-align: center;
        margin-top: 1.5em;
    }
}


@import 'medium';
@import 'large';